prometheus:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    hosts:
      - prometheus.courtmate.duckdns.org
    paths:
      - /
    tls:
      - secretName: prometheus-tls
        hosts:
          - prometheus.courtmate.duckdns.org

grafana:
  enabled: true
  adminPassword: "CourtMate2026!"
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    hosts:
      - grafana.courtmate.duckdns.org
    path: /
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.courtmate.duckdns.org

alertmanager:
  enabled: false

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true

prometheusOperator:
  enabled: true
